body {
    text-align: center;
}
#page_footer {
    font-style: italic;
    font-size: small;
}
h3 {
    color: #AD28C3;
}
h5 {
    color: #C9A2EB;
}
.container {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

button {
    background-color: #43C4D7; 
    color: white; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3); 
    margin: 10px 5px;
}

button:hover {
    background-color: #0056b3; 
    box-shadow: 0 6px 8px rgba(0, 86, 179, 0.5); 
}

button:active {
    background-color: #004085; 
    box-shadow: none; 
}

#animal {
    margin: 0 40px; 
}

#score {
    margin-top: 20px; 
}
